In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [81]:
data = pd.read_excel("./data/aspiring_minds_employability_outcomes_2015.xlsx", index_col=1).iloc[:, 1:]
data.shape

(3998, 37)

In [82]:
data.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
ID,,,,,,,,,,,,,,,,,,,,,
203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,cbse,2008,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3998 entries, 203097 to 324966
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3998 non-null   int64
 1   DOJ                    3998 non-null   datetime64[ns]
 2   DOL                    3998 non-null   object
 3   Designation            3998 non-null   object
 4   JobCity                3998 non-null   object
 5   Gender                 3998 non-null   object
 6   DOB                    3998 non-null   datetime64[ns]
 7   10percentage           3998 non-null   float64
 8   10board                3998 non-null   object
 9   12graduation           3998 non-null   int64
 10  12percentage           3998 non-null   float64
 11  12board                3998 non-null   object
 12  CollegeID              3998 non-null   int64
 13  CollegeTier            3998 non-null   int64
 14  Degree                 3998 non-null   object
 15  Specialization         3998 non-null   object
 16  collegeGPA             3998 non-null   float64
 17  CollegeCityID          3998 non-null   int64
 18  CollegeCityTier        3998 non-null   int64
 19  CollegeState           3998 non-null   object
 20  GraduationYear         3998 non-null   int64
 21  English                3998 non-null   int64
 22  Logical                3998 non-null   int64
 23  Quant                  3998 non-null   int64
 24  Domain                 3998 non-null   float64
 25  ComputerProgramming    3998 non-null   int64
 26  ElectronicsAndSemicon  3998 non-null   int64
 27  ComputerScience        3998 non-null   int64
 28  MechanicalEngg         3998 non-null   int64
 29  ElectricalEngg         3998 non-null   int64
 30  TelecomEngg            3998 non-null   int64
 31  CivilEngg              3998 non-null   int64
 32  conscientiousness      3998 non-null   float64
 33  agreeableness          3998 non-null   float64
 34  extraversion           3998 non-null   float64
 35  nueroticism            3998 non-null   float64
 36  openess_to_experience  3998 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(17), object(9)
memory usage: 1.2+ MB

### Replace "present" with most recent time in the data

In [84]:
most_recent_time = max(list(data.DOL.value_counts().index)[1:] + list(data.DOJ.value_counts().index) + list(data.DOB.value_counts().index))
data.DOL.replace("present", most_recent_time, inplace=True)
most_recent_time

datetime.datetime(2015, 12, 1, 0, 0)